$primary-color: #282c34;

nav {
    display: flex;
    max-width: 1140px;
    margin: 1.5em auto 0 auto;

    a {
      font-size: 2em;
    }

    .nav-brand {
        font-size: 1.35em;
    }

    .nav-right {
        margin: 0 0 0 auto;

        a {
            padding: 0 1em;
            font-size: 1em;
        }
    }
}

.hero {
    h1 {

    }

    h2 {

    }

    h2::before {

    }

    h2::after {
        
    }
}